{% extends 'base.html' %}
{% load staticfiles %}

{% block addcssjs %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/stylefav.css' %}">
{% endblock %}

{% block content %}

    	<hr>
      <div class="container">
      <i id="heart" class="fa fa-heart fa-2x" aria-hidden="true"></i>
      <pre id="text1">
        FAVORITE
      </pre>
    <hr id="hr1">
        <div class="row" id="test">
        {% for item in userfav %}
          <div class="col-md-4" align="center">
            <div class="product">
              <img id="pic3" src="{{ item.pictureUrl.url }}">
              <div class="row">
                <div class="col-sm-9">
                  <p>{{ item.name }}<br>{{ item.cost }} $</p>
                </div>
                <form id="fav-form" action="{% url 'deletefav' user.id item.id %}" method="post"> {% csrf_token %}
                    <div class="col-sm-3">
                      <a class="nav-link" href="#" onclick='document.forms["fav-form"].submit(); return false;'>
                          <!-- {{ item.id }} -->
                        <i id="heart1" class="fa fa-heart" aria-hidden="true"></i>
                      </a>
                    </div>
                </form>
              </div>
            </div>
          </div>
        {% endfor %}
    </div>
{% endblock %}
