<<<<<<< HEAD

/*product css*/
img#front-model{
	width: 300px;
	height: 500px;
	padding: 42px 20px 42px 20px;
}

div#product.row{
	margin-left: 200px;
	margin-right: 50px;
	margin-bottom: 50px;
}

div#picture-product{
	padding-left: 15px;
}

img#sub-model-1{
	width:80px;
	height: 100px;
	padding: 5px 5px 0px 5px;
}

img#sub-model-2{
	width:80px;
	height: 100px;
	padding: 5px 5px 0px 5px;
}

img#sub-model-3{
	width:80px;
	height: 100px;
	padding: 5px 5px 0px 5px;
}

img#sub-model-4{
	width:80px;
	height: 100px;
	padding: 5px 5px 0px 5px;
}


#sub-model-picture.col-md-3{
	padding-top: 50px;
	padding-left: 25px;
=======
body, html {
	height: 100%;
>>>>>>> 257f3058b6350ff90c2074b53d6e3abfee0c8527
}

div.productSection{
	margin-top: 50px;
}

#input-search-box{
	width: 300px;
}

#search-box{
	margin-left: 38%;
	margin-bottom: 50px;
}

.bgimg {
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

	background-image: url(../images/batman.jpg);
	min-height: 100%;
}

.main {
	padding-top: 40px;
}

.main h1 {
	margin-bottom: 50px;
	text-align: center;
}

.product {
	margin-bottom: 30px;
	padding-left: 15px;
	padding-right: 15px;
}

.product p {
	margin-bottom: 2px;
}

.product h5 {
	margin-top: 10px;
	margin-bottom: 2px;
}

.product-img {
	margin-bottom: 5px;
}

<<<<<<< HEAD
/*
@media screen and (max-width: 1400px) {
body{
}*/
=======
.product-img img {
	max-height: 415px;
	max-width: 350px;
>>>>>>> 257f3058b6350ff90c2074b53d6e3abfee0c8527

	-webkit-transition: opacity 0.5s ease-in-out;
  	-moz-transition: opacity 0.5s ease-in-out;
  	-o-transition: opacity 0.5s ease-in-out;
  	transition: opacity 0.5s ease-in-out;

<<<<<<< HEAD
textarea#review{
	width:500px;
	height: 100px;
=======
  	-moz-box-shadow: 0 0 10px #ccc;
	-webkit-box-shadow: 0 0 10px #ccc;
	box-shadow: 0 0 20px #ccc;
>>>>>>> 257f3058b6350ff90c2074b53d6e3abfee0c8527
}
	
	.product-img img:hover{
		opacity: 0.80;
	}

<<<<<<< HEAD
div.form-review{
	margin-top:20px;
	margin-left:450px;
	margin-bottom: 30px;
}

/*---------------------------------------------------------------------------------*/
/*Modal Image*/


/* Style the Image Used to Trigger the Modal */
#front-model {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#sub-model-1{
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#sub-model-2{
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#sub-model-3{
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#sub-model-4{
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#front-model:hover {opacity: 0.7;}

#sub-model-1:hover {opacity: 0.7;}

#sub-model-2:hover {opacity: 0.7;}

#sub-model-3:hover {opacity: 0.7;}

#sub-model-4:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 30px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 60%;
    height: 95%;
    max-height: 850px;
    max-width: 500px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}
=======
#filter{
	margin-left: 396%;
}
>>>>>>> 257f3058b6350ff90c2074b53d6e3abfee0c8527
