
/*product css*/
div.productSection{
    margin-top: 50px;
}

img#front-model{
	width: 300px;
	height: 500px;
	padding: 42px 20px 42px 20px;
}

div#product.row{
	margin-left: 200px;
	margin-right: 50px;
	margin-bottom: 50px;
}

div#picture-product{
	padding-left: 15px;
}

img#sub-model-1{
	width:80px;
	height: 100px;
<<<<<<< HEAD
	padding: 5px 5px 0px 5px;
=======
	padding: 5px 5px 0px 5px;	
>>>>>>> 257f3058b6350ff90c2074b53d6e3abfee0c8527
}

img#sub-model-2{
	width:80px;
	height: 100px;
<<<<<<< HEAD
	padding: 5px 5px 0px 5px;
=======
	padding: 5px 5px 0px 5px;	
>>>>>>> 257f3058b6350ff90c2074b53d6e3abfee0c8527
}

img#sub-model-3{
	width:80px;
	height: 100px;
<<<<<<< HEAD
	padding: 5px 5px 0px 5px;
=======
	padding: 5px 5px 0px 5px;	
>>>>>>> 257f3058b6350ff90c2074b53d6e3abfee0c8527
}

img#sub-model-4{
	width:80px;
	height: 100px;
<<<<<<< HEAD
	padding: 5px 5px 0px 5px;
=======
	padding: 5px 5px 0px 5px;	
>>>>>>> 257f3058b6350ff90c2074b53d6e3abfee0c8527
}


#sub-model-picture.col-md-3{
	padding-top: 50px;
<<<<<<< HEAD
	padding-left: 25px;
=======
	padding-left: 25px;		
>>>>>>> 257f3058b6350ff90c2074b53d6e3abfee0c8527
}

div#details-product{
	margin-top:20px;
	margin-left: 45px;
}

i#review-star{
	margin-top: 6px;
    color: #ce251c;
}

p#details-product{
	padding:5px 2px 0px 2px;
	font-size: 13px;
}

#icon-cart-product{
	color: black;
}

#icon-cart-product:hover{
	color: #ce251c;
}

div#div-icon-cart{
	width: 0px;
	margin: 0 0 0 0;
	padding-left: 110px;
}

#icon-fav-product{
	color: black;
}

#icon-fav-product:hover{
	color: #ce251c;
}

div#review-section.row{
	padding-left: 345px;
	padding-right: 50px;
	padding-bottom: 5px;
}

hr#line-review-section{
	margin-left:300px;
	margin-right: 200px;
	border-bottom:  1px solid #c6c6c6;
}

div#commend-review{
	padding-left: 358px;
	padding-top: 20px;
	padding-bottom: 20px;
}

img#pic-user-commend{
	width:70px;
	height:70px;
}

hr#line-user-commend{
	padding-left: 200px
	width:50px;
	height: 70px;
	border-left: 1px solid #c6c6c6;
}

/*
<<<<<<< HEAD
@media screen and (max-width: 1400px) {
=======
@media screen and (max-width: 1400px) { 
>>>>>>> 257f3058b6350ff90c2074b53d6e3abfee0c8527
body{
}*/

p#text-review{
	padding: 0 0 0 0;
}

textarea#review{
	width:500px;
<<<<<<< HEAD
	height: 100px;
=======
	height: 100px;	
>>>>>>> 257f3058b6350ff90c2074b53d6e3abfee0c8527
}

div.form-review{
	margin-top:20px;
	margin-left:450px;
	margin-bottom: 30px;
}

/*star reviews*/

@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

fieldset, label { margin: 0; padding: 0; }
h1 { font-size: 1.5em; margin: 10px; }

/****** Style Star Rating Widget *****/

<<<<<<< HEAD
.rating {
=======
.rating { 
>>>>>>> 257f3058b6350ff90c2074b53d6e3abfee0c8527
  border: none;
  float: left;
  margin-right:243px;
  margin-left:38px;
}

<<<<<<< HEAD
.rating > input { display: none; }
.rating > label:before {
=======
.rating > input { display: none; } 
.rating > label:before { 
>>>>>>> 257f3058b6350ff90c2074b53d6e3abfee0c8527
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

<<<<<<< HEAD
.rating > .half:before {
=======
.rating > .half:before { 
>>>>>>> 257f3058b6350ff90c2074b53d6e3abfee0c8527
  content: "\f089";
  position: absolute;
}

<<<<<<< HEAD
.rating > label {
  color: #ddd;
 float: right;
=======
.rating > label { 
  color: #ddd; 
 float: right; 
>>>>>>> 257f3058b6350ff90c2074b53d6e3abfee0c8527
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #ce251c;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
<<<<<<< HEAD
.rating > input:checked ~ label:hover ~ label { color: #ce251c;  }
=======
.rating > input:checked ~ label:hover ~ label { color: #ce251c;  } 
>>>>>>> 257f3058b6350ff90c2074b53d6e3abfee0c8527
/*---------------------------------------------------------------------------------*/




/*Modal Image*/


/* Style the Image Used to Trigger the Modal */
#front-model {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#sub-model-1{
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#sub-model-2{
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#sub-model-3{
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#sub-model-4{
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#front-model:hover {opacity: 0.7;}

#sub-model-1:hover {opacity: 0.7;}

#sub-model-2:hover {opacity: 0.7;}

#sub-model-3:hover {opacity: 0.7;}

#sub-model-4:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 30px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 60%;
    height: 95%;
    max-height: 850px;
    max-width: 500px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
<<<<<<< HEAD
.modal-content, #caption {
=======
.modal-content, #caption { 
>>>>>>> 257f3058b6350ff90c2074b53d6e3abfee0c8527
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
<<<<<<< HEAD
    from {-webkit-transform:scale(0)}
=======
    from {-webkit-transform:scale(0)} 
>>>>>>> 257f3058b6350ff90c2074b53d6e3abfee0c8527
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
<<<<<<< HEAD
    from {transform:scale(0)}
=======
    from {transform:scale(0)} 
>>>>>>> 257f3058b6350ff90c2074b53d6e3abfee0c8527
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}
