<<<<<<< HEAD
body, html {
	height: 100%;
}

div.productSection{
	margin-top: 50px;
}

#input-search-box{
	width: 300px;
}

#search-box{
	margin-left: 38%;
	margin-bottom: 50px;
}

.bgimg {
	background-attachment: fixed;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;

	background-image: url(../images/batman.jpg);
	min-height: 100%;
}

.main {
	padding-top: 40px;
}

.main h1 {
	margin-bottom: 50px;
	text-align: center;
}

.product {
=======
<<<<<<< HEAD

/*product css*/
img#front-model{
	width: 300px;
	height: 500px;
	padding: 42px 20px 42px 20px;
}

div#product.row{
	margin-left: 200px;
	margin-right: 50px;
	margin-bottom: 50px;
}

div#picture-product{
	padding-left: 15px;
}

img#sub-model-1{
	width:80px;
	height: 100px;
	padding: 5px 5px 0px 5px;
}

img#sub-model-2{
	width:80px;
	height: 100px;
	padding: 5px 5px 0px 5px;
}

img#sub-model-3{
	width:80px;
	height: 100px;
	padding: 5px 5px 0px 5px;
}

img#sub-model-4{
	width:80px;
	height: 100px;
	padding: 5px 5px 0px 5px;
}


#sub-model-picture.col-md-3{
	padding-top: 50px;
	padding-left: 25px;
=======
body, html {
	height: 100%;
>>>>>>> 257f3058b6350ff90c2074b53d6e3abfee0c8527
}

div.productSection{
	margin-top: 50px;
}

#input-search-box{
	width: 300px;
}

#search-box{
	margin-left: 38%;
	margin-bottom: 50px;
}

.bgimg {
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

	background-image: url(../images/batman.jpg);
	min-height: 100%;
}

.main {
	padding-top: 40px;
}

.main h1 {
	margin-bottom: 50px;
	text-align: center;
}

.product {
	margin-bottom: 30px;
	padding-left: 15px;
	padding-right: 15px;
}

.product p {
	margin-bottom: 2px;
}

.product h5 {
	margin-top: 10px;
	margin-bottom: 2px;
}

.product-img {
	margin-bottom: 5px;
}

<<<<<<< HEAD
/*
@media screen and (max-width: 1400px) {
body{
}*/
=======
.product-img img {
	max-height: 415px;
	max-width: 350px;
>>>>>>> 257f3058b6350ff90c2074b53d6e3abfee0c8527

	-webkit-transition: opacity 0.5s ease-in-out;
  	-moz-transition: opacity 0.5s ease-in-out;
  	-o-transition: opacity 0.5s ease-in-out;
  	transition: opacity 0.5s ease-in-out;

<<<<<<< HEAD
textarea#review{
	width:500px;
	height: 100px;
=======
  	-moz-box-shadow: 0 0 10px #ccc;
	-webkit-box-shadow: 0 0 10px #ccc;
	box-shadow: 0 0 20px #ccc;
>>>>>>> 257f3058b6350ff90c2074b53d6e3abfee0c8527
}
	
	.product-img img:hover{
		opacity: 0.80;
	}

<<<<<<< HEAD
div.form-review{
	margin-top:20px;
	margin-left:450px;
>>>>>>> f6a0b0062c2cbe1ddde8605a56f5f1c84f569e57
	margin-bottom: 30px;
	padding-left: 15px;
	padding-right: 15px;
}

.product p {
	margin-bottom: 2px;
}

.product h5 {
	margin-top: 10px;
	margin-bottom: 2px;
}

.product-img {
	margin-bottom: 5px;
}

#images{
	height: 415px;
	width: 283px;
}

.product-img img {

	-webkit-transition: opacity 0.5s ease-in-out;
		-moz-transition: opacity 0.5s ease-in-out;
		-o-transition: opacity 0.5s ease-in-out;
		transition: opacity 0.5s ease-in-out;

		-moz-box-shadow: 0 0 10px #ccc;
	-webkit-box-shadow: 0 0 10px #ccc;
	box-shadow: 0 0 20px #ccc;
}

<<<<<<< HEAD
	.product-img img:hover {
		opacity: 0.80;
	}
	#filter{
		margin-left: 90%;
		margin-bottom: 50px;
	}
=======
/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}
=======
#filter{
	margin-left: 396%;
}
>>>>>>> 257f3058b6350ff90c2074b53d6e3abfee0c8527
>>>>>>> f6a0b0062c2cbe1ddde8605a56f5f1c84f569e57
