#profile-section{
  margin-top: 70px;
  margin-left: 70px;
  height: 150px;
}

.userprofile {
  width: 80px;
  height: 80px;
  background-color: #808080;
  border-radius: 100%;
  margin-left: auto;
  margin-right: auto;
}

.hr-left{
  width: 80%;
  margin-left:138px;
}

.hr-right{
  width: 80%;
  margin-left: 0px;
}

.dot{
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #ff4f2c;
  margin-top: 20px;
  display: inline-block;
}

.ship{
  display: inline-block;
  margin-left: 20px;
}

/*.profile{
  padding-right: 20px;
}*/

.coin{
  width: 20px;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
}

.button {
    background-color: #ff5757;
    /*font-style: Sukhumvit set*/
    color: white;
    border-radius: 5px;
    border: 3px solid #ff5757;
}

.button:hover {
    background-color: #ff4f2c;
    opacity: 0.9;
    color: white;
}

#fix-footer{
  margin-top:750px;
}

#Header{
  padding-top: 0px;
}

.left{
  border-right:1px solid black;
}