{% load staticfiles %}
{% load widget_tweaks %}

{% block addcssjs %}
<!-- <link rel="stylesheet" href="{% static 'css/animate-login.css' %}"> -->
<link rel="stylesheet" href="{% static 'css/signup.css' %}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
<style media="screen">
.form-group{
	margin: 20px;
}
h2 {
	text-transform: uppercase;
	color: white;
	font-weight: 400;
	letter-spacing: 1px;
	font-size: 1.4em;
	line-height: 2.8em;
}
</style>
{% endblock %}
{% block content %}

<div class="container">
	<div class="login-box">
		<div class="box-header">
			<h2>Edit Profile</h2>
		</div>
		{% if not success %}
		<form method="post" novalidate>
			{% csrf_token %}
			{% for hidden_field in form.hidden_fields %}
			{{ hidden_field }}
			{% endfor %}

			{% if form.non_field_errors %}
			<div class="alert alert-danger" role="alert">
				{% for error in form.non_field_errors %}
				{{ error }}
				{% endfor %}
			</div>
			{% endif %}

			{% for field in form.visible_fields %}
			<div class="form-group">
				{{ field.label_tag }}

				{% if form.is_bound %}
				{% if field.errors %}
				{% render_field field class="form-control is-invalid" %}
				{% for error in field.errors %}
				<div class="invalid-feedback">
					{{ error }}
				</div>
				{% endfor %}
				{% else %}
				{% render_field field class="form-control is-valid" %}
				{% endif %}
				{% else %}
				{% render_field field class="form-control" %}
				{% endif %}

				{% if field.help_text %}
				<small class="form-text text-muted">{{ field.help_text }}</small>
				{% endif %}
			</div>
			{% endfor %}
			<button type="submit" class="btn btn-primary">Submit</button>
		</form>
		<button onclick="signIn()" id="back">Back to Sign In</button>
		{% else %}
		<h5> {{ success }}</h5>
		<button onclick="signIn()" id="back">Back to Profile</button>
		{% endif %}
	</div>
</div>
<script>
function signIn() {
	location.href="{% url 'acc:profile' %}"
}

</script>
{% endblock %}
