{% extends 'base.html' %}
{% load staticfiles %}

{% block addcssjs %}
    <link rel="stylesheet" type="text/css" href='{% static "css/homepage.css" %}' />
{% endblock %}

{% block content %}
  <!-- Homepage Section -->
<div id="first-promote" style="background-color: red">
  <h1>First Paragraph</h1>
</div>
<div id="recommend">
  <h1 style="margin-left: 680px;">Recommended</h1>
  <div id="blockRec">
    <div class="row">
      <div class="col-lg-3" align="center">
        <a href="#"><img src="{% static 'images/babygroot.jpg' %}" id="recImg"></a>
        <div id="details">
          <h5>Babygroot</h5>
          <p>xxxxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
          <p>$99.00</p>
        </div>
      </div>
      <div class="col-lg-3" align="center">
        <a href="#"><img src="{% static 'images/babygroot.jpg' %}" id="recImg"></a>
        <div id="details">
          <h5>Babygroot</h5>
          <p>xxxxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
          <p>$99.00</p>
        </div>
      </div>
      <div class="col-lg-3" align="center">
        <a href="#"><img src="{% static 'images/babygroot.jpg' %}" id="recImg"></a>
        <div id="details">
          <h5>Babygroot</h5>
          <p>xxxxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
          <p>$99.00</p>
        </div>
      </div>
      <div class="col-lg-3" align="center">
        <a href="#"><img src="{% static 'images/babygroot.jpg' %}" id="recImg"></a>
        <div id="details">
          <h5>Babygroot</h5>
          <p>xxxxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
          <p>$99.00</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="promote" style="background-color:green">
  <h1>Second Paragraph</h1>
</div>
<div id="promote" style="background-color:yellow">
  <h1>Third Paragraph</h1>
</div>
{% endblock %}
