{% load staticfiles %}
{% block addcssjs %}
	    <!-- <link rel="stylesheet" href="{% static 'css/animate-login.css' %}"> -->
			<link rel="stylesheet" href="{% static 'css/login.css' %}">
			<style>
				#signup{
					background-color:#F9966B;
				}
				.login-box{
					margin-top: 250px;
				}
				.alert {
				    /*padding: 20px;*/
				    background-color: #f44336;
				    color: white;
				}

				.closebtn {
				    margin-left: 15px;
				    color: white;
				    font-weight: bold;
				    float: right;
				    font-size: 22px;
				    line-height: 20px;
				    cursor: pointer;
				    transition: 0.3s;
				}

				.closebtn:hover {
				    color: black;
				}
			</style>
{% endblock %}
{% block content %}

		<div class="container">

			<div class="login-box animated fadeInUp">
				<div class="box-header">
					<h2>Log In</h2>
				</div>
				{% if error_message %}
		      <div class="alert alert-danger">
		        {% if error_message == 'no-login' %}
						<div class="alert">
							<strong>Warning!</strong> please login before enter this website !!
							<span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
						</div>
							<!-- <h3>please login before enter this website !!</h3> -->
		        {% endif %}
		        {% if error_message == 'wrong-password' %}
						<div class="alert">
							<strong>Warning!</strong> password or user didn't correct !!
							<span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
						</div>
							<!-- <h3></h3> -->
		        {% endif %}
		        {% if error_message == 'invalid' %}
						<div class="alert">
							<strong>Warning!</strong> can't access because wrong forms.
							<span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
						</div>
							<!-- <h3>can't access because wrong forms</h3> -->
						{% endif %}
						{% if error_message == 'Please activated account' %}
						<div class="alert">
							<strong>Warning!</strong>Please activated account.
							<span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
						</div>
							<!-- <h3>Please activated account</h3> -->
		        {% endif %}
		      </div>
						<br>
		    {% endif %}
				<form  action="{% url 'acc:logincheck' %}" method="POST">
					{% csrf_token %}
					{{ login_form.as_table }}
					<!-- <label for="username">Username</label>
					<br/>
					<input type="text" id="username" name="user" maxlength="50">
					<br/>
					<label for="password">Password</label>
					<br/>
					<input type="password" id="password" name="pass" maxlength="100">
					<br/> -->
					<button type="submit">Sign In</button>
				</form>
				<button onclick="signUp()" id="signup">Sign Up</button>
				<button onclick="goBack()" id="back">Back to index</button>
				<br/>
				<a href="{% url 'acc:forgotcheck' %}"><p class="small">Forgot your password?</p></a>
			</div>
		</div>
		<script>

			function goBack() {
				location.href="{% url 'index' %}"
			}
			function signUp() {
				location.href="{% url 'acc:signup' %}"
			}

		</script>
{% endblock %}
