{% load staticfiles %}
{% block addcssjs %}
	    <!-- <link rel="stylesheet" href="{% static 'css/animate-login.css' %}"> -->
			<link rel="stylesheet" href="{% static 'css/login.css' %}">
			<style>
				#signup{
					background-color:#F9966B;
				}
			</style>
{% endblock %}
{% block content %}

		<div class="container">
			<div class="top">
				<h1 id="title" class="hidden"><span id="logo">SYOT<br><span>Toys for us</span></span></h1>
			</div>
			<div class="login-box animated fadeInUp">
				<div class="box-header">
					<h2>Log In</h2>
				</div>
				{% if error_message %}
		      <div class="alert alert-danger">
		        {% if error_message == 'no-login' %}
							<h3>please login before enter this website !!</h3>
		        {% endif %}
		        {% if error_message == 'wrong-password' %}
							<h3>password or user didn't correct !!</h3>
		        {% endif %}
		        {% if error_message == 'invalid' %}
							<h3>can't access because wrong forms</h3>
		        {% endif %}
		      </div>
						<br>
		    {% endif %}
				<form  action="{% url 'acc:logincheck' %}" method="POST">
					{% csrf_token %}
					{{ login_form.as_table }}
					<!-- <label for="username">Username</label>
					<br/>
					<input type="text" id="username" name="user" maxlength="50">
					<br/>
					<label for="password">Password</label>
					<br/>
					<input type="password" id="password" name="pass" maxlength="100">
					<br/> -->
					<button type="submit">Sign In</button>
				</form>
				<button onclick="signUp()" id="signup">Sign Up</button>
				<button onclick="goBack()" id="back">Back to index</button>
				<br/>
				<a href="{% url 'acc:forgotcheck' %}"><p class="small">Forgot your password?</p></a>
			</div>
		</div>
		<script>

			function goBack() {
				location.href="{% url 'index' %}"
			}
			function signUp() {
				location.href="{% url 'acc:signup' %}"
			}

		</script>
{% endblock %}
