{% extends 'base.html' %}
{% load staticfiles %}

{% block addcssjs %}

    <link rel="stylesheet" type="text/css" href="{% static 'css/payment.css' %}">
{% endblock %}

{% block content %}

<!--payment section-->
	<!-- <div id="picture" class="col-sm-6" style="background-color:white ;">
		<img src="images/credit.png">
	</div>

	<div id="text" class="col-sm-3" style="background-color:white ;">Payment Details
	 	<div class="textinput">Name on Card <input type="text" class="card" placeholder="Name on Card"></div>
	 	<div class="textinput">Card Number <input type="text" class="card" maxlength="16" placeholder="Card Number" onkeypress='return event.charCode >= 48 && event.charCode <= 57'/></div>
	 	<div class="textinput">
	 		<div>Valid Through &emsp; &emsp; &emsp;&emsp;CVV</div>
	 		<input type="text" maxlength="7" class="cardvalid" placeholder="MM/YYYY" onkeypress='return event.charCode >= 48 &&  event.charCode== / && event.charCode <= 57'/>
	 		<input type="text" maxlength="3" class="cardcvv" placeholder="CVV" onkeypress='return event.charCode >= 48 && event.charCode <= 57'/>
	 	</div>
	 	<div id="box"><input id="submit" type="submit" value="Pay"/></div>
	</div> -->

  <div id="payment-section">
      <div class="box left">
          <div class="credit">
            <img src="images/credit.png">
          </div>
          <div>
            <p id="total" style="margin-top:20px; font-size: 30px;font-family: Fjalla One;">
              TOTAL
            </p>
            <p id="total" style="margin-left:30px; font-size: 30px;font-family: Fjalla One;">
              200 US
            </p>
            <div id="total" style="margin-left: 150px;"><input id="point" type="submit" value="POINT"/></div>
        </div>
      </div>

	<div id="payment-section">
	    <div class="box left">
	        <div class="credit">
	          <img src="images/credit.png">
	        </div>
	    </div>

	    <div class="box right">
	        <div class="details">
	            <p style="font-family: Fjalla One; font-size:40px; text-align: center; margin-bottom:0px;">
	            	Payment Details
	            </p>
				<form class='form' action="{% url 'payment' request.session.user_id totalmoney %}" method="post" id="payment-form"> {% csrf_token %}
	        	<div id="text">
		          <div id="information" style="font-size: 20px;">
		            <div class="textinput">Name on Card
		            	<input type="text" class="card" placeholder="Name on Card">
		            </div>
		 			<div class="textinput">Card Number
		 				<input type="text" class="card" maxlength="16" placeholder="Card Number" onkeypress='return event.charCode >= 48 && event.charCode <= 57'/>
		 			</div>
		 			<div class="textinput">
		 				<div>Valid Through &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;CVV</div>
		 				<input type="text" maxlength="7" class="cardvalid" placeholder="MM/YYYY" onkeypress='return event.charCode >= 48 &&  event.charCode== / && event.charCode <= 57'/>
		 				<input id="cvv" type="text" maxlength="3" class="cardcvv" placeholder="CVV" onkeypress='return event.charCode >= 48 && event.charCode <= 57'/>
		          	</div>
		          	<div id="box"><input id="submit" type="submit" value="Pay"/></div>
		          </div>
  				</div>
			</form>
  			</div>
  		</div>
  	</div>


	{% endblock %}
