{% extends 'base.html' %}
{% load staticfiles %}

{% block addcssjs %}
    <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
{% endblock %}

{% block content %}


  	<!--product section-->
	<div class="header bgimg">
	</div>
	<div class="main">
		<span><h1>Product</h1></span>
		<div class="row">
			<div class="col-lg-3" align="center">
				<div class="product-img "><img src="images/batman-thumbnail.jpg"></div>
				<div>
					<h5>Batman</h5>
					<p>This is an awesome Batman model</p>
					<p>$49.00</p>
				</div>
			</div>
			<div class="product col-lg-3" align="center">
				<div class="product-img "><img src="images/batman-thumbnail.jpg"></div>
				<div>
					<h5>Batman</h5>
					<p>This is an awesome Batman model</p>
					<p>$49.00</p>
				</div>
			</div>
			<div class="product col-lg-3" align="center">
				<div class="product-img "><img src="images/batman-thumbnail.jpg"></div>
				<div>
					<h5>Batman</h5>
					<p>This is an awesome Batman model</p>
					<p>$49.00</p>
				</div>
			</div>
			<div class="product col-lg-3" align="center">
				<div class="product-img "><img src="images/batman-thumbnail.jpg"></div>
				<div>
					<h5>Batman</h5>
					<p>This is an awesome Batman model</p>
					<p>$49.00</p>
				</div>
			</div>
		</div>
	<div>
{% endblock %}
