{% extends 'base.html' %}
{% load staticfiles %}

{% block addcssjs %}
    <link rel="stylesheet" type="text/css" href="{% static "css/product.css" %}">
    <style media="screen">
    #filter{
    	margin-left: 90%;
    }
    </style>
{% endblock %}

{% block content %}


  	<!--product section-->
    <!--product section-->
    <div class="productSection">
      <div class="header bgimg">
      </div>
      <div class="main">
        <span><h1>Product</h1></span>
        <!-- <form class="form-inline" id="search-box">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" id="input-search-box">
          <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Search</button>
        </form> -->
        <form method="post">
          <div class="Filter">
				    <button class="btn btn-outline-dark dropdown-toggle" type="button" id="filter" data-toggle="dropdown">SORT BY:
				    <span class="caret"></span></button>
				    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
              <a class="nav-link" href="{% url 'filter' 'name' %}" id="Header">Name</a>
				      <a class="nav-link" href="{% url 'filter' 'newest' %}" id="Header">Newest</a>
				      <a class="nav-link" href="{% url 'filter' 'point' %}" id="Header">Highest Rated</a>
				      <a class="nav-link" href="{% url 'filter' 'priceHighLow' %}" id="Header">Price High-Low</a>
				      <a class="nav-link" href="#" id="Header">Price Low-High</a>
				    </ul>
				</div>
        </form>
        <div class="row">
          {% for product in products %}
          <div class="product col-lg-3" align="center">
            <a href="{% url 'detail' product.id %}"><div class="product-img "><img src="{{ product.pictureUrl.url }}"></div></a>
            <div>
              <h5>{{ product.name }}</h5>
              <!-- <p>This is an awesome Batman model</p> -->
              <p>{{ product.cost }} USD</p>
            </div>
          </div>
          {% endfor %}
        </div>
        <div>
        </div>

        <!-- <div id="search-box">
        <form action="{% url 'search' %}" method="POST" class="form-inline my-2 my-lg-0">
        {% csrf_token %}
        <input id="input-search-box" type="text" name="search_name" maxlength="250" class="form-control mr-sm-2" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div> -->
  </div>

</div>
{% endblock %}
