{% extends 'base.html' %}
{% load staticfiles %}

{% block addcssjs %}
    <link rel="stylesheet" type="text/css" href="{% static "css/product.css" %}">
{% endblock %}

{% block content %}


  	<!--product section-->
    <div class="productSection">
      <div class="main">
  		<span><h1>Product</h1></span>
          {% if Count %}
          <h1>Results for " {{ Name }} "</h1>
          {% else %}
          <h1>Results for " {{ Name }} "</h1>
          <br><br><br><br><br><br><br><br><br><br><br><br><br>
          {% endif %}
      </div>
    </div>
		<div class="row">
      {% for product in toyPro %}
      {% if product %}
			<div class="product col-lg-3" align="center">
				<a href="{% url 'detail' product.id %}"><div class="product-img "><img src="{{ product.pictureUrl.url }}"></div></a>
				<div>
					<h5>{{ product.name }}</h5>
					<!-- <p>This is an awesome Batman model</p> -->
					<p>{{ product.cost }} USD</p>
				</div>
			</div>
      {% endif %}
      {% endfor %}
		</div>
	<div>
{% endblock %}
