{% load staticfiles %}
{% block addcssjs %}
	    <!-- <link rel="stylesheet" href="{% static 'css/animate-login.css' %}"> -->
			<link rel="stylesheet" href="{% static 'css/login.css' %}">
			<style>
				#signup{
					background-color:#F9966B;
				}
			</style>
{% endblock %}
{% block content %}
		<div class="container">
			<div class="top">
				<h1 id="title" class="hidden"><span id="logo">SYOT<br><span>Toys for us</span></span></h1>
			</div>
			<div class="login-box animated fadeInUp">
				<div class="box-header">
					<h2>Reset password</h2>
				</div>
				{% if success %}
				<h3>{{ success }}</h3>
				{% endif %}
				<form method="POST">
					{% csrf_token %}
					{{ form.as_table }}
					<button type="submit">Reset</button>
				</form>
				<button onclick="goBackIndex()" id="back">Back to index</button>
				<br/>
				<br/>
				<button onclick="goBack()" id="back">Back to Sign In</button>
				<br/>
			</div>
		</div>
		<script>

			function goBackIndex() {
				location.href="{% url 'index' %}"
			}
			function goBack() {
				window.history.back();
			}
			function signUp() {
				location.href="{% url 'acc:signup' %}"
			}

		</script>
{% endblock %}
