{% load staticfiles %}
{% block addcssjs %}
	    <!-- <link rel="stylesheet" href="{% static 'css/animate-login.css' %}"> -->
			<link rel="stylesheet" href="{% static 'css/signup.css' %}">
{% endblock %}
{% block content %}
	<div class="container">
		<div class="top">
			<h1 id="title" class="hidden"><span id="logo">SYOT<br><span>Toys for us</span></span></h1>
		</div>
		<div class="login-box animated fadeInUp">
			<div class="box-header">
				<h2>SIGN UP</h2>
			</div>
			<form  action="{% url 'acc:signupcheck' %}" method="POST">
				{% csrf_token %}
					<label for="username">Username</label>
					<br/>
					<input type="text" id="username" name="user" maxlength="50">
					<br/>
					<label for="password">Password</label>
					<br/>
					<input type="password" id="password" name="pass" maxlength="100">
					<br/>
		      <label for="email">E-mail</label>
					<br/>
					<input type="text" id="e-mail" name="email" maxlength="100">
					<br/>
					<label for="tel">Tel</label>
					<br/>
					<input type="text" id="telo" name="tel" maxlength="11">
					<br/>
		      <!-- <label for="name">Name</label>
					<br/>
					<input type="text" id="Name" name="nameUser" maxlength="200">
					<br/> -->
					<button type="submit">Sign Up</button>
			</form>
			<button onclick="goBack()" id="back">Back</button>
			<br/>
			<!-- <a href="#"><p class="small">Forgot your password?</p></a> -->
		</div>
	</div>
	<script>
		function goBack() {
				window.history.back();
		}
	</script>
	{% endblock %}
