{% extends 'base.html' %}
{% load staticfiles %}

{% block addcssjs %}
<link rel="stylesheet" type="text/css" href="{% static 'css/thankyou.css' %}">
{% endblock %}

{% block content %}
<div id="container">
    <h1 style="text-align: center; padding-top: 20%; font-size: 60px ">
      THANKS FOR SUPPORT US!
    </h1>
    <a href="{% url 'index' %}"><button style="margin-left: 44%; margin-right: auto; margin-top: 20px" type="button" class="btn btn-outline-dark"> BACK TO HOME </button>
    </a>
</div>
{% endblock %}
