



#blockRec{
	padding-top: 20px;
	display: block;
	height: 500px;
}

#recImg{
	width: 200px;
	height: 250px;
}
#cardRec{
	padding-left: 160px;
}

#details{
	padding-top:20px;
}

#recImg:hover{
	opacity: 0.80;
}
