{% extends 'base.html' %}
{% load staticfiles %}

{% block addcssjs %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/basket.css' %}">
	<script crossorigin src="https://unpkg.com/react@16/umd/react.production.min.js"></script>
	<script src="js/qtyButton.js"></script>
{% endblock %}

{% block content %}
	<div class="main">
		<div class="container">
			<h1>YOUR CART</h1>
			<hr>
			<div class="frame row">
				<div class="frame-item col-lg-8">
					<div class="item row">
						<div class="item-img col-lg-3" align="center"><img src="{% static 'images/babygroot.jpg' %}"></div>
						<div class="info col-lg-9">
							<div class="row">
								<div class="info1 col-lg-9">
									<h3>BABYGROOT</h3>
									<p>Good boy BABYGROOT!</p>
									<div class="button" id="delete">DELETE</div>
								</div>
								<div class="info2 col-lg-3">
									<h5>3,000 THB</h5>
									<div class="qty-box" data-reactid=".0"><span class="dec" data-reactid=".0.0">–</span><span class="qty" data-reactid=".0.1">1</span><span class="inc" data-reactid=".0.2">+</span></div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="frame-sum col-lg-4">
					<div class="sum">
						<h1>TOTAL</h1>
						<hr>
						<div class="subtotal row">
							<div class="col-sm-6"><h5>Subtotal</h5></div>
							<div class="col-sm-6">3,000 THB</div>
						</div>
						<div class="shipping row">
							<div class="col-sm-6"><h5>Shipping</h5></div>
							<div class="col-sm-6">100 THB</div>
						</div>
						<div class="total row">
							<div class="col-sm-6"><h5>Total</h5></div>
							<div class="col-sm-6">3,100 THB</div>
						</div>
						<hr>
						<a href="#" class="button" id="checkout">CHECK OUT</a>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
