{% extends 'base.html' %}
{% load staticfiles %}

{% block addcssjs %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/basket.css' %}">
	<script crossorigin src="https://unpkg.com/react@16/umd/react.production.min.js"></script>
	<script src="js/qtyButton.js"></script>
{% endblock %}

{% block content %}
	<div class="main">
		<div class="container">
			<h1>YOUR CART</h1>
			<hr>
			<div class="frame row">
				<div class="frame-item col-lg-8">

					{% for item in usercart %}
					{% for itemCart in carts %}
					{% if itemCart.productID == item and itemCart.userId == user %}
					<div class="item row">
						<div class="item-img col-lg-3" align="center"><img src="{{ item.pictureUrl.url }}"></div>
						<div class="info col-lg-9">
							<div class="row">
								<div class="info1 col-lg-9">
									<h3>{{ item.name }}</h3>
									<p>{{ item.description }}</p>
									<form action="{% url 'delete' user.id item.id %}" method="post"> {% csrf_token %}
										<input class="button" id="delete" value="DELETE" type="submit"/>
									</form>
								</div>
								<div class="info2 col-lg-3">
									<h5>{{ item.cost }}</h5>
									<form action="{% url 'addminusQuantity' user.id item.id %}" method="post"> {% csrf_token %}
										<div class="qty-box" id="add-minus" addminusUrl="{% url 'addminusQuantity' user.id item.id %}" data-reactid=".0">
											<input type="submit" class="dec" data-reactid=".0.0" type="submit" value='-' name="dec"/>
											<span class="qty" data-reactid=".0.1">{{ itemCart.quantity }}</span>
											<input type="submit" class="inc" data-reactid=".0.2" type="submit" value='+' name="inc"/>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
					</form>
					{% endif %}
					{% endfor %}
					{% endfor %}
				</div>
				<div class="frame-sum col-lg-4">
					<form id="payment-form" action="{% url 'checkout' request.session.user_id money|add:ship %}" method="post"> {% csrf_token %}
						<div class="sum">
							<h1>TOTAL</h1>
							<hr>
							<div class="subtotal row">
								<div class="col-sm-6"><h5>Subtotal</h5></div>
								<div id="money-div" class="col-sm-6">{{ money }} $</div>
							</div>
							<div class="shipping row">
								<div class="col-sm-6"><h5>Shipping</h5></div>
								<div class="col-sm-6">{{ ship }} $</div>
							</div>
							<div class="total row">
								<div class="col-sm-6"><h5>Total</h5></div>
								<div id="total-money" class="col-sm-6" id="total-money">{{ money|add:ship }} $</div>
							</div>
							<hr>
							<a href="#" class="button" id="checkout" onclick='document.forms["payment-form"].submit(); return false;' >CHECK OUT</a>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<script src="{% static 'js/basket.js' %}"></script>

{% endblock %}
